<div class="locket-container">
    <app-upload></app-upload>
    <div>
        <form>
            <label class="encryption-label" [ngClass]="{'text-input-focus': this.inputFocused}" for="encryption">Enter
                your thoughts</label>
            <br />
            <textarea (blur)="inputText()" (focus)="inputText()" class="text-input" #textAreaInput name="encryption"
                type="text" (input)="onTextEnter(textAreaInput.value)"></textarea>
            <br />
            <div *ngIf="textValue.length < 5">
            </div>
            <button class="submit-button" type="submit" [disabled]="textValue.length < 5"
                (click)="textSubmit($event)"><span><img class="encrypt-icon" src="../../assets/lock.png" /></span>
                <div class="encrypt-text">Encrypt and
                    send</div>
            </button>
        </form>
        <br />
        <!-- <div class="encrypted-text-object" *ngIf="encryptedTextObject">
            <h4>Encrypted text:
                <pre class="encrypted-text-json"><code>{{ encryptedTextObject | json }}</code></pre>
            </h4>
        </div> -->
    </div>
    <app-texts></app-texts>
</div>