@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');



body {
    margin: 0;
    margin-top: 10px;
    background-color: rgb(17, 17, 17);
    color: white;
    font-family: 'Raleway', sans-serif;
}
